//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$permanent: Permanent Marker;
$press2p: Press Start 2P;
$vt323: VT323;
